@charset "UTF-8";
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Jost&display=swap");
/* body */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  max-width: 100%;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  font-family: 'Jost', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(100px, auto) 1fr minmax(70px, auto);
  -ms-grid-columns: 1fr;
      grid-template: minmax(100px, auto) 1fr minmax(70px, auto)/1fr;
      grid-template-areas: "header" "main" "footer";
}

a {
  text-decoration: none;
  color: #203C9F;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

ol, ul, li {
  list-style: none;
}

#scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  text-align: center;
  font-size: 100px;
  color: #000;
  opacity: 0.7;
}

#scroll-top.hide {
  display: none;
}

#scroll-top:hover {
  opacity: 1;
}

.header {
  z-index: 10;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr / 1fr 1fr 1fr;
  min-width: 100%;
  background-color: #FFCCCC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.header__logo {
  -ms-grid-column-align: start;
      justify-self: start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 25px;
}

.header__logo img {
  max-width: 150px;
  border-radius: 50%;
  border: 3px solid #795555;
}

.header__title {
  color: #6A043B;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
}

.header__menu {
  min-width: 100%;
  padding-right: 25px;
}

.menu a::after {
  content: " →";
  opacity: 0;
  visibility: hidden;
  margin-left: -10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu a:hover {
  color: #11256c;
}

.menu a:hover::after {
  content: " →";
  opacity: 1;
  visibility: visible;
  margin-left: 0px;
}

.menu li {
  position: relative;
}

.menu__body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu__link {
  font-size: 25px;
}

.menu__change-lang {
  color: #fff;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #a00056;
  border: 3px solid #810045;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__change-lang:hover {
  -webkit-box-shadow: 5px 5px 0 #810045;
          box-shadow: 5px 5px 0 #810045;
}

.block {
  font-family: 'Alegreya Sans', sans-serif;
  margin: 25px 25px auto 25px;
  background-color: #FEFFDC;
  border: 3px solid #969768;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 0px #9697685f;
          box-shadow: 10px 10px 0px #9697685f;
}

.block ul {
  margin: 10px auto;
}

.block li {
  list-style: outside;
}

.block__title {
  font-size: 55px;
  letter-spacing: 2px;
  color: #6A043B;
  padding-left: 25px;
  padding-top: 10px;
  font-weight: 600;
}

.block__line {
  border-bottom: 4px solid #6A043B;
  width: 45%;
  margin-left: 25px;
}

.block__container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 75% 25%;
      grid-template: 1fr / 75% 25%;
}

.block__img {
  width: 75%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.block__img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px rgba(145, 38, 38, 0.5);
          box-shadow: 5px 5px 10px rgba(145, 38, 38, 0.5);
}

.block__title-text {
  font-size: 50px;
  font-weight: 600;
  padding: 25px;
  padding-left: 50px;
  text-align: center;
}

.block__text {
  padding: 25px;
  padding-left: 50px;
  font-size: 35px;
}

.tree {
  width: 50%;
  margin: auto;
  margin-bottom: 25px;
  padding: 20px;
  background-color: #fff;
  border-radius: 25px;
  border: 5px solid black;
}

.tree li {
  list-style: none;
}

.top-branch {
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 4px;
  background-color: #000;
  width: 50px;
  margin-bottom: 10px;
}

.bottom-branch {
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 4px;
  background-color: #000;
  width: 50px;
  margin-top: 10px;
}

.left-branch {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 5px solid #000;
  width: 50px;
  margin-right: 10px;
}

.right-branch {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 5px solid #000;
  width: 50px;
  margin-left: 10px;
}

.grgrparents__container, .grgrgrparents__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grgrgrparents__container {
  margin-right: 300px;
}

.brother-dad-sister__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grgrgrpa, .grgrgrma {
  margin: auto;
  max-width: 320px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: .5fr 1fr .5fr;
      grid-template: 1fr / .5fr 1fr .5fr;
  margin-bottom: 10px;
}

.grgrgrpa a, .grgrgrma a {
  color: #fff;
}

.grgrgrpa__block, .grgrgrma__block {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  height: 100px;
  font-size: 22px;
  text-align: center;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.grgrgrpa__block:hover, .grgrgrma__block:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.grgrgrpa__block:hover .text__block, .grgrgrma__block:hover .text__block {
  width: 90%;
  height: 90%;
  font-size: 30px;
}

.grgrgrpa .text, .grgrgrma .text {
  margin: -10% 0 0 -50%;
}

.grgrgrpa__right-branch {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.grgrgrpa__block {
  background-color: #2a62b7;
  border: 5px solid #043682;
  -webkit-box-shadow: 5px 5px 0px #043682;
          box-shadow: 5px 5px 0px #043682;
}

.grgrgrpa__block:hover {
  background-color: #043682;
}

.grgrgrpa__block:hover .grgrgrpa__textblock {
  width: 90%;
  height: 90%;
  font-size: 25px;
}

.grgrgrma__left-branch {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.grgrgrma__block {
  background-color: #df5b5b;
  border: 5px solid #a63737;
  -webkit-box-shadow: 5px 5px 0px #a63737;
          box-shadow: 5px 5px 0px #a63737;
}

.grgrgrma__block:hover {
  background-color: #a63737;
}

.grgrgrma__block:hover .grgrgrma__textblock {
  width: 90%;
  height: 90%;
  font-size: 25px;
}

.grgrgrma__block:active {
  background-color: #df5b5b;
}

.grgrpa, .grgrma {
  margin: auto;
  max-width: 310px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: .5fr 1fr .5fr;
      grid-template: 1fr 1fr / .5fr 1fr .5fr;
  margin-bottom: 10px;
}

.grgrpa a, .grgrma a {
  color: #fff;
}

.grgrpa__block, .grgrma__block {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  height: 100px;
  font-size: 27px;
  text-align: center;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.grgrpa__block:hover, .grgrma__block:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.grgrpa__block:hover .text__block, .grgrma__block:hover .text__block {
  width: 90%;
  height: 90%;
  font-size: 30px;
}

.grgrpa .text, .grgrma .text {
  margin: -10% 0 0 -50%;
}

.grgrpa__right-branch {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.grgrpa__block {
  background-color: #4E87DD;
  -webkit-box-shadow: 5px 5px 0px #29579c;
          box-shadow: 5px 5px 0px #29579c;
  border: 5px solid #29579c;
}

.grgrpa__block:hover {
  background-color: #29579c;
}

.grgrpa__block:active {
  background-color: #4E87DD;
}

.grgrma__left-branch {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.grgrma__block {
  background-color: #F48282;
  -webkit-box-shadow: 5px 5px 0px #ca5555;
          box-shadow: 5px 5px 0px #ca5555;
  border: 5px solid #ca5555;
}

.grgrma__block:hover {
  background-color: #ca5555;
}

.grgrma__block:active {
  background-color: #F48282;
}

.grpa {
  margin: auto;
  max-width: 310px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: .5fr 1fr .5fr;
      grid-template: 1fr 1fr / .5fr 1fr .5fr;
  margin-bottom: 10px;
}

.grpa a {
  color: #fff;
}

.grpa__block {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  height: 100px;
  font-size: 40px;
  text-align: center;
  border-radius: 25px;
  border: 5px solid #4a72ae;
  -webkit-box-shadow: 5px 5px 0px #4a72ae;
          box-shadow: 5px 5px 0px #4a72ae;
  background-color: #79A5E7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.grpa__block:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #4a72ae;
}

.grpa__block:hover .grpa__textblock {
  width: 90%;
  height: 90%;
  font-size: 45px;
}

.grpa__block:active {
  background-color: #79A5E7;
}

.dad {
  margin: auto;
  max-width: 310px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.dad a {
  color: #fff;
}

.dad__block {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  border-radius: 25px;
  border: 5px solid #4369a1;
  -webkit-box-shadow: 5px 5px 0px #4369a1;
          box-shadow: 5px 5px 0px #4369a1;
  background-color: #8FB3E9;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.dad__block:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #4369a1;
}

.dad__block:hover .dad__textblock {
  width: 90%;
  height: 90%;
  font-size: 60px;
}

.dad__block:active {
  background-color: #8FB3E9;
}

.me {
  margin: auto;
  margin-top: 5px;
  max-width: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
}

.me a {
  color: #fff;
}

.me__block {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 200px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  border-radius: 25px;
  border: 5px solid #6792d2;
  -webkit-box-shadow: 5px 5px 0px #6792d2;
          box-shadow: 5px 5px 0px #6792d2;
  background-color: #B8D4FF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.me__block:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #6792d2;
}

.me__block:hover .me__textblock {
  width: 90%;
  height: 90%;
  font-size: 60px;
}

.me__block:active {
  background-color: #B8D4FF;
}

.me__textblock {
  padding-top: 5%;
}

.me__text {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  left: 50%;
  margin: -20% 0 0 -50%;
}

.brother, .sister {
  padding-top: 100px;
}

.brother {
  margin: auto;
  margin-right: 10px;
  max-width: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
}

.brother a {
  color: #fff;
}

.brother__block {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 200px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  border-radius: 25px;
  border: 5px solid #6792d2;
  -webkit-box-shadow: 5px 5px 0px #6792d2;
          box-shadow: 5px 5px 0px #6792d2;
  background-color: #B8D4FF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.brother__block:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #6792d2;
}

.brother__block:hover .brother__textblock {
  width: 90%;
  height: 90%;
  font-size: 60px;
}

.brother__block:active {
  background-color: #B8D4FF;
}

.brother__textblock {
  padding-top: 5%;
}

.brother__text {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  left: 50%;
  margin: -20% 0 0 -50%;
}

.sister {
  margin: auto;
  margin-left: 10px;
  max-width: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
}

.sister a {
  color: #fff;
}

.sister__block {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 200px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  border-radius: 25px;
  border: 5px solid #da6767;
  -webkit-box-shadow: 5px 5px 0px #da6767;
          box-shadow: 5px 5px 0px #da6767;
  background-color: #ffa7a7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sister__block:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #da6767;
}

.sister__block:hover .sister__textblock {
  width: 90%;
  height: 90%;
  font-size: 60px;
}

.sister__block:active {
  background-color: #ffa7a7;
}

.sister__textblock {
  padding-top: 5%;
}

.sister__text {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  left: 50%;
  margin: -20% 0 0 -50%;
}

.text {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  left: 50%;
  margin: -20% 0 0 -50%;
}

.text__block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup {
  font-family: 'Jost', sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 51;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: white;
  color: black;
  max-width: 900px;
  padding: 20px;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr .3fr;
      grid-template: 1fr / 1fr .3fr;
  grid-gap: 30px;
}

.popup__close {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 30px;
  color: black;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .7;
}

.popup__close:hover {
  opacity: 1;
}

.popup__title {
  font-size: 40px;
  font-weight: 700;
  color: #3b0417;
  padding-top: 15px;
}

.popup__line {
  width: 20%;
  margin: 10px 0 10px 40%;
  border-bottom: 5px solid #5f0021;
}

.popup__img {
  margin-top: 20px;
}

.popup__img img {
  max-height: 300px;
  max-width: 300px;
  border: 10px solid #adadad;
  border-radius: 30px;
}

.popup__text {
  margin-top: 20px;
  font-size: 25px;
  text-align: left;
}

@media (min-width: 992px) {
  .menu__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: minmax(0px, auto) minmax(0px, auto) minmax(0px, auto);
        grid-template: 1fr/minmax(0px, auto) minmax(0px, auto) minmax(0px, auto);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
}

@media (max-width: 992px) {
  .block__container {
    height: 100%;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr / 1fr;
  }
  .block__img {
    width: 50%;
  }
}
